<div class='story-header'>
  <h1 class='story-header-title'>
    <%= @story.name %> <small><%= link_to 'Edit', edit_story_path(@story) %></small>
  </h1>
  <ul class='js-new-part-buttons story-header-nav'>
    <li><button class='js-new-part-video-button'>Add video</button></li>
    <li><button class='js-new-part-image-button'>Add picture</button></li>
    <li><button class='js-new-part-text-button'>Add text</button></li>
  </ul>
  <p class='story-header-description'><%= @story.description %></p>
</div>

<div class='story-parts'>
  <ul>
    <%- @story.parts.each do |part| -%><li>
        <%= render_part part %>
      </li><%- end -%>
</ul>
</div>

<div class='new-part-selection' data-story-id='<%= @story.id %>'>
  <div>
    <div class='new-part-image js-new-part-image'>
      <section>
        <h1>Upload picture</h1>
        <%= render partial: 'attachment_form', locals: { story: @story, part: @new_part, type: 'ImageMedia' } %>
      </section>
    </div>

    <div class='new-part-text js-new-part-text'>
      <section>
        <h1>Add text</h1>
        <%= render partial: 'attachment_form', locals: { story: @story, part: @new_part, type: 'TextMedia' } %>
      </section>
    </div>

    <div class='new-part-video js-new-part-video'>
      <section class='recorder visible'>
        <h1>Record a video part</h1>
        <div class='recorder-controls'>
          <button class='recorder-controls-button js-record-video'>
            <i class='icon-videocam'></i>
          </button>

          <p>Or <a class='js-upload-video-link' href='#'>upload video from computer</a></p>
        </div>
      </section>

      <section class='upload-local'>
        <h1>Upload video</h1>
        <%= render partial: 'attachment_form', locals: { story: @story, part: @new_part, type: 'VideoMedia' } %>
      </section>

      <section class='playback'>
        <h1>Your video</h1>
        <video controls></video>
        <audio></audio>
        <div class='playback-controls'>
          <button class='playback-controls-button playback-controls-button-upload js-upload-video'>
            <i class='icon-upload-cloud'></i>
          </button>
          <button class='playback-controls-button playback-controls-button-cancel js-cancel-video'>
            <i class='icon-cancel'></i>
          </button>
        </div>
      </section>

      <section class='uploading'>
        <h1>Uploading…</h1>
      </section>

      <section class='uploaded'>
        <h1>Thanks!</h1>
        <p>Your part has been added to <%= @story.name %>.</p>
      </section>
    </div>
  </div>
</div>
