<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Owl</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class='brand'>Owl</div>

    <% if user_signed_in? %>
      <nav class='header-site-nav'>
        <ul>
          <li><%= link_to 'My stories', stories_path %></li>
        </ul>
      </nav>

      <nav class='header-user-nav'>
        <ul>
          <li>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= button_tag 'Log out' %>
            <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
  </header>

  <%= yield %>

  <footer>
  </footer>
</body>

</html>
